:root {
  --clr-orange: #f37021;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #037e2298;
  font-family: "Raleway", sans-serif;
}
